{{#with kita}}
<h1><a href="{{webAddress}}">{{name}}</a></h1>
<p>{{adresse}}, {{postleitzahl}} <br> {{stadt}} {{viertel}} <br> +49 {{telefon}} <br> {{email}}
  <br> <a href="{{webAddress}}">{{webAddress}}</a></p>
<br>
<p>Frühestes Aufnahmealter In Monaten: {{fruehestesAufnahmealterInMonaten}} <br> Altersmischung: {{altersmischung}} <br>
  <p>Angeboten: {{angeboten}} <br>
    <ul>
      <li>Unter 3 Jahre: {{unter3Jahre}}</li>
      <li>Über 3 Jahre: {{ueber3Jahre}}</li>
    </ul>
  </p>
</p>
<p>Öffnungszeiten: {{oeffnungszeiten}}</p>
<p>Angebote: {{angebote}} <br> Einrichtungsart: {{einrichtungsart}} <br> Trägerart: {{traegerart}} <br> Trägerart 2:
  {{traegerart2}}</p>
<p>Pädagogische Schwerpunkte: {{paedagogischeSchwerpunkte}} <br> Pädagogische Ansätze: {{paedagogischeAnsaetze}} <br>
  Thematische Schwerpunkte: {{thematischeSchwerpunkte}}</p>
<br><br>



<form action="mailto:kdchorley@hotmail.com" method="post" enctype="text/plain">
  <input type="text" name="Vorname" placeholder="Vorname"><br>
  <input type="text" name="Name" required="" placeholder="Name"><br>
  <textarea name="Nachricht" rows="15" cols="120" required="" placeholder="Nachricht"></textarea><br>
  <button type="submit">Absenden</button>
</form>
<br><br>


<form id="comment-form">
  <label for="comment">Kommentiere Kita</label>
  <input type="text" id="comment">
</form>


{{/with}}
<div id="comment-box">
  {{#if kita.comments}}
  <h2>Kommentare</h2>
  {{#each kita.comments}}
  <h4>{{author.name}}</h4>
  <p>{{content}}</p>
  {{/each}}
  {{/if}}
</div>


<script>
  document.getElementById('comment-form').onsubmit = event => {
    event.preventDefault(); // prevents the default behaviour of the form

    axios.post("/kitaDetail/{{kita._id}}/comment", {
      comment: document.getElementById('comment').value
    }).then(response => {
      let commentBox = '<h2>Comments</h2>';

      response.data.forEach(comment => {
        commentBox += `<h4>${comment.author.name}</h4><p>${comment.content}</p>`
      })
      document.getElementById("comment-box").innerHTML = commentBox;

      document.getElementById('comment').value = ""
    }).catch(err => {
      console.log(err);
    })
  }
</script>